.container {

    /* border: red 1px solid; */
    font-family: 'Noto Sans TC', sans-serif;
    color: #003366;
}

.menu-list-anne {
    /* border: red 1px solid; */




}

.slick-slider{
width: 750px;    
}

.slick-next{
    right: 100px;
}

.profile-info-anne {
    border: #CECECF 1px solid;
    border-radius: 1rem;
    margin: 0 auto;
    background-color: #fff;
    padding: 5rem 3rem;
    margin-bottom: 5rem;
    width: 750px; 



}



.breadcrumb {

    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    /* border: red 1px solid; */
    width: 260px;



}

.breadcrumb a {
    color: #FF7300;

}



.card {

    display: flex;
    border-color: rgba(255, 255, 255, 0);


}



.card-wrap-anne {


    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 5rem;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile-infotitle-anne h2 {
    padding-right: 1rem;
    
}

.profile-infotitle-anne {
    font-family: 'Noto Sans TC', sans-serif;
    color: #FF7300;
    margin-top: 1rem;

}

.profile-infotitle-anne h2 {

    margin-top: 1rem;

}

.level-mark-anne {
    margin-top: 1.5rem;
    width: 100px;
    height: 30px;
    background-color: #FF7300;
    color: white;


}


.level-mark-anne h6 {
    margin-left: 15px;
    margin-top: 5.5px;
}

.intro-profile-anne h5 {
    margin-top: 1rem;
    margin-bottom: 1em;

}

.intro-profile-anne h2 {
    margin-top: 5rem;
    margin-bottom: 2em;

}

.intro-first-line {
    border-bottom: 1px solid #CECECF;
    padding-bottom: 3rem;
}

.intro-first-line h5 {

    margin-bottom: 3rem;
}

.btn-anne {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.btn-01-anne {
    background-color: #FF7300;
    margin-right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 16px;
}

.btn-02-anne {
    background-color: #FF7300;
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 16px;
}

.bcg-color {

    background-color: #F1F1F1;
}


@media (max-width:576px) {

    .profile-infotitle-anne h2 {
        font-size: 30px;
    }
    .profile-infotitle-anne h5 {
        font-size: 16px;
    }


    .intro-profile-anne h5{
        font-size: 14px;
    }

    .intro-profile-anne h2{
        font-size: 20px;
    }




    .btn-01-anne{
        font-size: 12px;
        margin-right: 1rem;

    }


    .btn-02-anne{
        font-size: 12px;
        margin-right: 1rem;

    }

    .level-mark-anne{
        margin-top: 1.5rem;
        height: 25px;
        width: 90px;


    }
    .level-mark-anne h6{
        font-size: 14px;
        width: 100%;
        

    }

    .profile-infotitle-anne h2 {
        font-size: 30px;
        
    }
}